header {
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icons svg {
    width: 3rem;
    margin: 0 1rem;
    cursor: pointer;
}
